@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px; }

input {
  -webkit-appearance: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.top {
  width: 100%;
  height: 0.5866666667rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.0666666667rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 998; }

.top > div {
  width: 1.4666666667rem;
  font-size: 0.32rem; }

.top-1 > span {
  display: inline-block;
  width: 0.1333333333rem;
  height: 0.1333333333rem;
  background: black;
  border-radius: 50%; }

.top-2 > span {
  width: 0.4rem;
  height: 0.2rem;
  line-height: 0.2266666667rem;
  background: black;
  display: inline-block; }

.title {
  width: 100%;
  height: 1.1733333333rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0.5866666667rem;
  background: white;
  z-index: 998; }

#title-2 {
  width: 0.7066666667rem;
  height: 0.64rem;
  background: url(../../img/menu.png) no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  position: relative; }

.title > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.title > a > img {
  height: 0.64rem; }

.DIS {
  width: 100%;
  height: 14.2666666667rem;
  border-top: 0.0266666667rem solid #EBEBEB;
  left: -10rem;
  transition: all 0.5s;
  background: white;
  z-index: 999;
  top: 1.8133333333rem;
  position: fixed; }

.list {
  width: 100%;
  height: 4.6666666667rem;
  margin-top: 0.4rem; }

.list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.list-ul > li {
  width: 2.5066666667rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.list-ul > li > p {
  font-size: 0.4rem; }

.EWM {
  width: 100%;
  height: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.EWM-1 {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.0666666667rem solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.EWM-1 > img {
  width: 2.9333333333rem;
  display: block;
  margin: 0.1333333333rem auto; }

.EWM-1 > p {
  font-size: 0.32rem;
  display: inline-block;
  color: #52BA57; }

.EWM-1 > span {
  font-size: 0.32rem;
  background: #52BA57;
  color: white; }

.QUAN {
  width: 100%;
  height: 3.3333333333rem;
  margin-top: 2.1066666667rem;
  text-align: center; }

.QUAN > img {
  height: 0.6133333333rem; }

.BG {
  width: 100%;
  height: 5.2533333333rem;
  position: relative; }

.BG > img {
  height: 5.2533333333rem;
  width: 100%; }

.BG > div {
  position: absolute;
  top: 20px;
  right: 36px;
  width: 25%; }

.BG > div > img {
  width: 100%; }

.P-1 {
  width: 100%;
  height: 4rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0.9333333333rem 0.9333333333rem;
  background-color: #f3f9f9;
  line-height: 0.7333333333rem; }

.P-1 > p {
  font-size: 0.3466666667rem;
  color: #999; }

.p-2 {
  width: 100%;
  height: 5.3333333333rem;
  text-align: center;
  margin-top: 1.0666666667rem;
  box-sizing: border-box;
  padding: 0.2666666667rem; }

.p-2 > h5 {
  font-size: 0.5066666667rem;
  font-weight: 400;
  color: #333; }

.p-2 > p {
  font-size: 0.3733333333rem;
  color: #999;
  margin-top: 1.0666666667rem; }

#swiper-container {
  width: 100%;
  height: 6rem;
  margin-top: 0; }

#swiper-wrapper {
  width: 100%;
  height: 4.5333333333rem; }

#swiper-pagination {
  width: 100%;
  height: 0.48rem;
  bottom: 0.6rem; }

#swiper-slide > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between; }

#swiper-slide > ul > li {
  width: 4.8533333333rem;
  height: 2.1333333333rem;
  position: relative; }

#swiper-slide > ul > li > img {
  width: 4.8533333333rem;
  height: 2.1333333333rem; }

#swiper-slide > ul > li > span {
  position: absolute;
  top: 0.8rem;
  left: 0.4rem;
  color: white;
  font-size: 0.4266666667rem; }

.sanjie {
  width: 100%;
  height: 3.0133333333rem;
  background: #F3F9F9;
  text-align: center;
  line-height: 0.9333333333rem;
  box-sizing: border-box;
  padding-top: 0.6666666667rem; }

.sanjie > h5 {
  font-size: 0.48rem; }

.sanjie > p {
  font-size: 0.3733333333rem;
  color: #999; }

.chujie {
  width: 100%;
  height: 9.7333333333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.9333333333rem 0.6666666667rem;
  text-align: center; }

.chujie > p {
  font-size: 0.3733333333rem;
  color: #666; }

.chujie > h5 {
  font-size: 0.4266666667rem;
  color: #333; }

.chujie-4 {
  width: 100%;
  height: 8.6133333333rem;
  background: url(../../img/bg02.png) no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.chujie-4 > li {
  width: 5rem;
  height: 4.2666666667rem;
  float: left;
  box-sizing: border-box;
  padding: 0.5333333333rem 0.4rem;
  text-align: left; }

.chujie-4 > li > h4 {
  font-size: 0.3733333333rem;
  color: #53b753;
  font-weight: normal;
  margin-bottom: 0.6666666667rem; }

.chujie-4 > li > p {
  font-size: 0.32rem;
  font-weight: normal;
  line-height: 0.6666666667rem; }

.zengsong {
  width: 100%;
  height: 2.88rem;
  background: #F4F9F9;
  overflow: hidden; }

.zengsong > p {
  width: 8.4rem;
  height: 1.28rem;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #999;
  margin: 0.8rem auto; }

.yongxin {
  margin: 0.8rem auto;
  font-size: 0.4266666667rem;
  text-align: center; }

.BG-3 {
  width: 100%;
  height: 4rem;
  background: url(../../img/bg03.jpg) no-repeat;
  background-size: auto 100%;
  background-position: center top;
  box-sizing: border-box;
  padding-top: 1.3333333333rem; }

.BG-3 > p {
  font-size: 0.3733333333rem;
  color: white;
  text-align: center;
  letter-spacing: 5px; }

.BG-3 > div {
  width: 1.4666666667rem;
  height: 1.4666666667rem;
  border: 0.5333333333rem solid #ffd200;
  border-radius: 50%;
  margin: 0 auto; }

.GSX {
  width: 100%;
  height: 2.24rem;
  margin: 1.0666666667rem auto 0.5333333333rem;
  text-align: center; }

.GSX > h5 {
  color: #53b753;
  font-size: 0.4266666667rem;
  margin-bottom: 0.2666666667rem; }

.GSX > p {
  color: #666;
  font-size: 0.3733333333rem;
  text-align: center; }

.zhefu {
  width: 100%;
  height: 2.24rem;
  background: #F3F9F9;
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 0.4rem 0.8rem; }

.zhefu > p {
  font-size: 0.4266666667rem;
  text-align: center; }

.sibu {
  width: 100%;
  height: 3.2266666667rem 0;
  box-sizing: border-box;
  padding: 0.8rem; }

.sibu > h5 {
  font-size: 0.4266666667rem;
  letter-spacing: 0.08rem;
  text-align: center; }

.sibu > p {
  font-size: 0.3733333333rem;
  color: #999;
  text-align: center;
  margin-top: 0.4rem; }

.benxin {
  width: 100%;
  height: 22.4rem; }

.benxin > li {
  width: 100%;
  height: 5.6rem;
  margin-bottom: 0.2666666667rem;
  box-sizing: border-box;
  padding: 0 0.8rem;
  text-align: center; }

.benxin > li > span {
  display: inline-block;
  width: 1.7066666667rem;
  height: 1.4933333333rem;
  background: url(../../img/png-txt06.png) no-repeat;
  background-size: 100% 100%;
  font-size: 0.4266666667rem;
  line-height: 2.6666666667rem; }

.benxin > li > p {
  font-size: 0.3733333333rem;
  color: #666;
  line-height: 0.8rem; }

.DDS {
  width: 100%;
  height: 2.24rem;
  background: #F3F9F9;
  text-align: center;
  line-height: 2.24rem; }

.DDS > p {
  font-size: 0.4266666667rem;
  letter-spacing: 0.08rem; }

.zhiliang {
  width: 100%;
  height: 6.6666666667rem; }

.zhiliang > li {
  width: 50%;
  height: 6.6666666667rem;
  float: left;
  box-sizing: border-box;
  padding: 0.4rem 1.0666666667rem;
  background: #C7EFD2; }

.zhiliang > li > img {
  width: 100%;
  height: 100%; }

.kansi {
  width: 100%;
  height: 5.6rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0.4rem 1.0666666667rem;
  background: #E9F9ED; }

.kansi > h5 {
  font-size: 0.4266666667rem;
  font-weight: 400;
  margin: 0.2666666667rem; }

.kansi > p {
  font-size: 0.3733333333rem;
  font-weight: 400;
  line-height: 0.6666666667rem;
  color: #666; }

h2 {
  font-size: 0.3733333333rem;
  color: #999;
  margin-bottom: 0.2666666667rem;
  text-align: center;
  margin-top: 0.4rem; }

#jichu {
  width: 8.9333333333rem;
  height: 2.0533333333rem;
  font-size: 0.4266666667rem;
  margin: 0 auto;
  text-align: center;
  color: #666; }

.kaiban {
  width: 100%;
  height: 4.9066666667rem;
  background: #FFD200;
  overflow: hidden; }

.kaiban > h5 {
  font-size: 0.5333333333rem;
  color: #333;
  text-align: center;
  margin: 0.8rem auto 0;
  font-weight: 400; }

.kaiban > p {
  font-size: 0.3733333333rem;
  color: #666;
  text-align: center;
  margin: 0.4rem auto 0; }

.kaiban > button {
  display: block;
  margin: 0.8rem auto 0;
  width: 3.7333333333rem;
  height: 0.9333333333rem;
  font-size: 0.3733333333rem;
  color: #53b753;
  line-height: 0.9333333333rem;
  border-radius: 0.08rem;
  background-color: #fff; }

.shijian {
  width: 100%;
  height: 2.7733333333rem;
  background: #53B753;
  overflow: hidden; }

.shijian > div {
  margin: 0.6666666667rem auto 0; }

.shijian > div > p {
  text-align: center;
  font-size: 28px;
  color: #fff;
  line-height: 0.6666666667rem; }

.erweima {
  width: 100%;
  height: 7.8666666667rem;
  background: #F3F9F9;
  overflow: hidden; }

.erweima-1 {
  width: 6rem;
  height: 1.9733333333rem;
  margin: 0.6666666667rem auto; }

.erweima-1 > img {
  width: 6rem;
  height: 1.9733333333rem; }

.erweima-2 {
  width: 2.3466666667rem;
  height: 2.3466666667rem;
  margin: 0.6666666667rem auto 0; }

.erweima-2 > img {
  width: 2.3466666667rem;
  height: 2.3466666667rem; }

.erweima > p {
  font-size: 0.3733333333rem;
  color: #53b753;
  text-align: center;
  margin-top: 0.2666666667rem; }

.end {
  width: 100%;
  height: 6.96rem;
  background: #99CFB2;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.5333333333rem; }

.end > ul > li {
  width: 9.0133333333rem;
  height: 0.96rem;
  background: white;
  margin-bottom: 0.2666666667rem;
  box-sizing: border-box;
  padding: 0 0.5333333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #75bd96;
  font-size: 0.4rem; }

.end-1 {
  width: 2.3733333333rem;
  height: 0.7733333333rem;
  margin: 0 auto;
  line-height: 0.7733333333rem; }

.end-1 > img {
  width: 2.3733333333rem;
  height: 0.7733333333rem; }

body {
  margin: 0px;
  padding: 0px; }

input {
  -webkit-appearance: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.top {
  width: 100%;
  height: 0.5866666667rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.0666666667rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 998; }

.top > div {
  width: 1.4666666667rem;
  font-size: 0.32rem; }

.top-1 > span {
  display: inline-block;
  width: 0.1333333333rem;
  height: 0.1333333333rem;
  background: black;
  border-radius: 50%; }

.top-2 > span {
  width: 0.4rem;
  height: 0.2rem;
  line-height: 0.2266666667rem;
  background: black;
  display: inline-block; }

.title {
  width: 100%;
  height: 1.1733333333rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0.5866666667rem;
  background: white;
  z-index: 998; }

#title-2 {
  width: 0.7066666667rem;
  height: 0.64rem;
  background: url(../../img/menu.png) no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  position: relative; }

.title > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.title > a > img {
  height: 0.64rem; }

.DIS {
  width: 100%;
  height: 14.2666666667rem;
  border-top: 0.0266666667rem solid #EBEBEB;
  left: -10rem;
  transition: all 0.5s;
  background: white;
  z-index: 999;
  top: 1.8133333333rem;
  position: fixed; }

.list {
  width: 100%;
  height: 4.6666666667rem;
  margin-top: 0.4rem; }

.list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.list-ul > li {
  width: 2.5066666667rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.list-ul > li > p {
  font-size: 0.4rem; }

.EWM {
  width: 100%;
  height: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.EWM-1 {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.0666666667rem solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.EWM-1 > img {
  width: 2.9333333333rem;
  display: block;
  margin: 0.1333333333rem auto; }

.EWM-1 > p {
  font-size: 0.32rem;
  display: inline-block;
  color: #52BA57; }

.EWM-1 > span {
  font-size: 0.32rem;
  background: #52BA57;
  color: white; }

.QUAN {
  width: 100%;
  height: 3.3333333333rem;
  margin-top: 2.1066666667rem;
  text-align: center; }

.QUAN > img {
  height: 0.6133333333rem; }

.BG {
  width: 100%;
  height: 5.2533333333rem;
  position: relative; }

.BG > img {
  height: 5.2533333333rem; }

.BG > div {
  position: absolute;
  top: 20px;
  right: 36px;
  width: 25%; }

.BG > div > img {
  width: 100%; }

.P-1 {
  width: 100%;
  height: 4rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0.9333333333rem 0.9333333333rem;
  background-color: #f3f9f9;
  line-height: 0.7333333333rem; }

.P-1 > p {
  font-size: 0.3466666667rem;
  color: #999; }

.p-2 {
  width: 100%;
  height: 5.3333333333rem;
  text-align: center;
  margin-top: 1.0666666667rem;
  box-sizing: border-box;
  padding: 0.2666666667rem; }

.p-2 > h5 {
  font-size: 0.5066666667rem;
  font-weight: 400;
  color: #333; }

.p-2 > p {
  font-size: 0.3733333333rem;
  color: #999;
  margin-top: 1.0666666667rem; }

/*轮播图*/
.row {
  width: 100%;
  height: 10rem;
  overflow: hidden; }

.banner {
  width: 100%;
  height: 8.2666666667rem;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem;
  position: relative; }

.TOP {
  width: 30.6666666667rem;
  height: 100%;
  padding: 0;
  position: absolute;
  transition: all 0.5s; }

.TOP > li {
  float: left;
  width: 4.7333333333rem;
  height: 100%;
  background: #F3F1E9;
  margin-right: 0.1333333333rem;
  margin-left: 0.1333333333rem;
  box-sizing: border-box;
  padding-bottom: 1.0666666667rem;
  padding-top: 0.5333333333rem;
  border-radius: 0.1333333333rem;
  position: relative; }

.TOP-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.TOP-1 > img {
  width: 2.4533333333rem;
  height: 2.4533333333rem;
  border-radius: 50%;
  border: 4px solid #fff; }

.TOP-1 > div > h3 {
  font-size: 0.48rem;
  color: #53b753;
  font-weight: 500;
  text-align: center; }

.TOP-1 > div > h5 {
  font-size: 0.3733333333rem;
  color: #333;
  font-weight: 500;
  text-align: center; }

.TOP-1 > p {
  font-size: 0.32rem;
  color: #999;
  text-align: center; }

.USER > img {
  position: absolute;
  left: 50%;
  width: 80px;
  height: 80px;
  bottom: -40px;
  margin-left: -40px; }

.banner-end {
  width: 100%;
  height: 0.32rem;
  text-align: center; }

.banner-end > span {
  display: inline-block;
  width: 0.2666666667rem;
  height: 0.2666666667rem;
  background: #DDF1DD;
  border-radius: 50%; }

.TEXT-2 {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.TEXT-2 > h5 {
  font-size: 0.48rem;
  font-weight: 400;
  color: #333;
  text-align: center; }

.TEXT-2 > p {
  font-size: 0.4266666667rem;
  color: #999;
  text-align: center; }

.swiper-container {
  width: 100%;
  height: 14.6666666667rem;
  background: #DDF0D7; }

.swiper-pagination-bullet {
  width: 0.2666666667rem;
  height: 0.2666666667rem;
  background: #BBE2B9; }

.swiper-slide > div {
  width: 100%;
  height: 12.6666666667rem;
  display: flex;
  align-items: center;
  flex-direction: column; }

.swiper-slide > div > div {
  width: 100%;
  height: 2.4rem;
  background: white; }

.swiper-slide > div > div > img {
  height: 1.3333333333rem;
  width: 2.5333333333rem;
  margin: 0.4933333333rem 37%; }

#IMG-1 {
  position: absolute;
  left: 33%;
  top: 1.68rem;
  border-radius: 50%;
  border: 0.0666666667rem solid white;
  height: 3.2666666667rem; }

#IMG-2 {
  height: 9.3333333333rem;
  width: 100%; }

.swiper-slide > div > h5 {
  position: absolute;
  top: 5.6666666667rem;
  text-align: center;
  font-weight: 400;
  font-size: 0.48rem; }

.swiper-slide > div > span {
  font-size: 0.32rem;
  color: white;
  background: #53b753;
  display: inline-block;
  width: 1.2533333333rem;
  height: 0.6133333333rem;
  position: absolute;
  top: 6.4rem;
  text-align: center;
  line-height: 0.6133333333rem;
  border-radius: 0.2666666667rem; }

.swiper-slide > div > p {
  font-size: 0.3733333333rem;
  color: #999;
  text-align: center;
  line-height: 0.6666666667rem;
  position: absolute;
  bottom: 6.4rem; }

.swiper-slide > div > h4 {
  font-size: 0.3733333333rem;
  color: #999;
  text-align: center;
  line-height: 0.6666666667rem;
  position: absolute;
  bottom: 3.8666666667rem;
  font-weight: 400;
  width: 8.2133333333rem;
  height: 2.24rem; }

.swiper-slide > div > button {
  border: none;
  height: 1.0666666667rem;
  width: 3.2rem;
  background: #53b753;
  color: #fff;
  font-size: 0.3733333333rem; }

.tishen {
  width: 8.9333333333rem;
  height: 1.44rem;
  font-size: 0.48rem;
  letter-spacing: 0.1333333333rem;
  margin: 1.3333333333rem auto;
  text-align: center; }

.bingbu {
  width: 8.9333333333rem;
  height: 1.44rem;
  font-size: 0.3733333333rem;
  margin: 1.3333333333rem auto;
  text-align: center;
  color: #999; }

.san {
  width: 100%;
  height: 24.2133333333rem;
  background: #f3f9f9;
  text-align: center;
  margin-top: 2rem;
  box-sizing: border-box;
  padding: 0.4rem 0.6666666667rem; }

.san > li {
  float: left;
  width: 100%;
  height: 8.1066666667rem; }

.san > li > img {
  width: 2.5066666667rem;
  height: 3.7733333333rem; }

.san > li > p {
  font-size: 0.3733333333rem;
  margin: 1.3333333333rem auto;
  text-align: center;
  color: #999; }

.yongbu {
  width: 8.9333333333rem;
  height: 1.44rem;
  font-size: 0.48rem;
  letter-spacing: 0.1333333333rem;
  margin: 0 auto;
  margin-top: 1.3333333333rem;
  text-align: center; }

.jichu {
  width: 8.9333333333rem;
  height: 2.4533333333rem;
  font-size: 0.4266666667rem;
  margin: 0 auto;
  text-align: center;
  color: #666; }

#swiper-container {
  background: white;
  height: 11.84rem; }

#swiper-1 {
  width: 100%;
  height: 3.92rem; }

#swiper-1 > img {
  width: 100%;
  height: 3.92rem; }

#swiper-2 {
  width: 100%;
  height: 1.3333333333rem;
  padding: 0 0.5333333333rem;
  display: flex;
  flex-direction: row;
  line-height: 1.3333333333rem; }

#swiper-2 > h1:first-child {
  color: #53b753;
  font-size: 0.5066666667rem; }

#swiper-2 > h1:nth-child(2) {
  color: #999;
  font-size: 0.48rem; }

#swiper-2 > h1:last-child {
  color: #53b753;
  font-size: 0.3733333333rem;
  padding-left: 1.3333333333rem; }

.pinpai {
  width: 100%;
  height: 14.6933333333rem;
  background: #F3F9F9;
  box-sizing: border-box;
  padding: 1.0666666667rem auto; }

.pinpai-7 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.pinpai-7 > li {
  width: 3.1466666667rem;
  height: 4.1866666667rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.pinpai-7 > li > p {
  font-size: 0.4266666667rem;
  color: #999;
  width: 2.7733333333rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem; }

.pinpai-7 > li > div {
  background: white;
  width: 2.7733333333rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.0666666667rem; }

.pinpai-7 > li > div:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px #949494;
  transition: all 0.5s; }

.pinpai-7 > li > div > img {
  width: 0.96rem;
  height: 0.96rem; }

#guangao {
  width: 1.6533333333rem;
  height: 0.1866666667rem; }

#jichu {
  line-height: 2.4533333333rem; }

.kaiban {
  width: 100%;
  height: 4.9066666667rem;
  background: #FFD200;
  overflow: hidden; }

.kaiban > h5 {
  font-size: 0.5333333333rem;
  color: #333;
  text-align: center;
  margin: 0.8rem auto 0; }

.kaiban > p {
  font-size: 0.3733333333rem;
  color: #666;
  text-align: center;
  margin: 0.4rem auto 0; }

.kaiban > button {
  display: block;
  margin: 0.8rem auto 0;
  width: 3.7333333333rem;
  height: 0.9333333333rem;
  font-size: 0.3733333333rem;
  color: #53b753;
  line-height: 0.9333333333rem;
  border-radius: 0.08rem;
  background-color: #fff; }

.shijian {
  width: 100%;
  height: 2.7733333333rem;
  background: #53B753;
  overflow: hidden; }

.shijian > div {
  margin: 0.6666666667rem auto 0; }

.shijian > div > p {
  text-align: center;
  font-size: 28px;
  color: #fff;
  line-height: 0.6666666667rem; }

.erweima {
  width: 100%;
  height: 7.8666666667rem;
  background: #F3F9F9;
  overflow: hidden; }

.erweima-1 {
  width: 6rem;
  height: 1.9733333333rem;
  margin: 0.6666666667rem auto; }

.erweima-1 > img {
  width: 6rem;
  height: 1.9733333333rem; }

.erweima-2 {
  width: 2.3466666667rem;
  height: 2.3466666667rem;
  margin: 0.6666666667rem auto 0; }

.erweima-2 > img {
  width: 2.3466666667rem;
  height: 2.3466666667rem; }

.erweima > p {
  font-size: 0.3733333333rem;
  color: #53b753;
  text-align: center;
  margin-top: 0.2666666667rem; }

.end {
  width: 100%;
  height: 6.96rem;
  background: #99CFB2;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.5333333333rem; }

.end > ul > li {
  width: 9.0133333333rem;
  height: 0.96rem;
  background: white;
  margin-bottom: 0.2666666667rem;
  box-sizing: border-box;
  padding: 0 0.5333333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #75bd96;
  font-size: 0.4rem; }

.end-1 {
  width: 2.3733333333rem;
  height: 0.7733333333rem;
  margin: 0 auto;
  line-height: 0.7733333333rem; }

.end-1 > img {
  width: 2.3733333333rem;
  height: 0.7733333333rem; }

body {
  margin: 0px;
  padding: 0px; }

input {
  -webkit-appearance: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.top {
  width: 100%;
  height: 0.5866666667rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.0666666667rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 998; }

.top > div {
  width: 1.4666666667rem;
  font-size: 0.32rem; }

.top-1 > span {
  display: inline-block;
  width: 0.1333333333rem;
  height: 0.1333333333rem;
  background: black;
  border-radius: 50%; }

.top-2 > span {
  width: 0.4rem;
  height: 0.2rem;
  line-height: 0.2266666667rem;
  background: black;
  display: inline-block; }

.title {
  width: 100%;
  height: 1.1733333333rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0.5866666667rem;
  background: white;
  z-index: 998; }

#title-2 {
  width: 0.7066666667rem;
  height: 0.64rem;
  background: url(../../img/menu.png) no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  position: relative; }

.title > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.title > a > img {
  height: 0.64rem; }

.DIS {
  width: 100%;
  height: 14.2666666667rem;
  border-top: 0.0266666667rem solid #EBEBEB;
  left: -10rem;
  transition: all 0.5s;
  background: white;
  z-index: 999;
  top: 1.8133333333rem;
  position: fixed; }

.list {
  width: 100%;
  height: 4.6666666667rem;
  margin-top: 0.4rem; }

.list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.list-ul > li {
  width: 2.5066666667rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.list-ul > li > p {
  font-size: 0.4rem; }

.EWM {
  width: 100%;
  height: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.EWM-1 {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.0666666667rem solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.EWM-1 > img {
  width: 2.9333333333rem;
  display: block;
  margin: 0.1333333333rem auto; }

.EWM-1 > p {
  font-size: 0.32rem;
  display: inline-block;
  color: #52BA57; }

.EWM-1 > span {
  font-size: 0.32rem;
  background: #52BA57;
  color: white; }

input {
  position: absolute;
  top: 6.3733333333rem;
  left: 0.48rem;
  width: 8.96rem;
  height: 1.1733333333rem;
  font-size: 0.4266666667rem;
  border: 0.0266666667rem solid #57B957;
  box-sizing: border-box;
  padding-left: 0.5333333333rem;
  border-radius: 0.1333333333rem;
  background: rgba(235, 235, 233, 0.8); }

button {
  position: absolute;
  left: 7.4rem;
  width: 2.0666666667rem;
  height: 1.1733333333rem;
  font-size: 0.4266666667rem;
  border: 0.0266666667rem solid white;
  background: #57B957;
  border-radius: 0.1333333333rem; }

#password {
  top: 7.9333333333rem;
  width: 8.96rem; }

#login-btn {
  top: 10.6666666667rem;
  left: 0.48rem;
  width: 8.96rem;
  border: none;
  position: absolute;
  height: 1.1733333333rem;
  font-size: 0.4266666667rem;
  background: #57B957;
  border-radius: 0.1333333333rem; }

body {
  margin: 0px;
  padding: 0px; }

input {
  -webkit-appearance: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.top {
  width: 100%;
  height: 0.5866666667rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.0666666667rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 998; }

.top > div {
  width: 1.4666666667rem;
  font-size: 0.32rem; }

.top-1 > span {
  display: inline-block;
  width: 0.1333333333rem;
  height: 0.1333333333rem;
  background: black;
  border-radius: 50%; }

.top-2 > span {
  width: 0.4rem;
  height: 0.2rem;
  line-height: 0.2266666667rem;
  background: black;
  display: inline-block; }

.title {
  width: 100%;
  height: 1.1733333333rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0.5866666667rem;
  background: white;
  z-index: 998; }

#title-2 {
  width: 0.7066666667rem;
  height: 0.64rem;
  background: url(../../img/menu.png) no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  position: relative; }

.title > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.title > a > img {
  height: 0.64rem; }

.DIS {
  width: 100%;
  height: 14.2666666667rem;
  border-top: 0.0266666667rem solid #EBEBEB;
  left: -10rem;
  transition: all 0.5s;
  background: white;
  z-index: 999;
  top: 1.8133333333rem;
  position: fixed; }

.list {
  width: 100%;
  height: 4.6666666667rem;
  margin-top: 0.4rem; }

.list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.list-ul > li {
  width: 2.5066666667rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.list-ul > li > p {
  font-size: 0.4rem; }

.EWM {
  width: 100%;
  height: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.EWM-1 {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.0666666667rem solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.EWM-1 > img {
  width: 2.9333333333rem;
  display: block;
  margin: 0.1333333333rem auto; }

.EWM-1 > p {
  font-size: 0.32rem;
  display: inline-block;
  color: #52BA57; }

.EWM-1 > span {
  font-size: 0.32rem;
  background: #52BA57;
  color: white; }

.QUAN {
  width: 100%;
  height: 3.3333333333rem;
  margin-top: 2.1066666667rem;
  text-align: center; }

.QUAN > img {
  height: 0.6133333333rem; }

.BG {
  width: 100%;
  height: 5.2533333333rem;
  position: relative; }

.BG > img {
  height: 5.2533333333rem; }

.BG > div {
  position: absolute;
  top: 20px;
  right: 36px;
  width: 25%; }

.BG > div > img {
  width: 100%; }

.P-1 {
  width: 100%;
  height: 4rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0.9333333333rem 0.9333333333rem;
  background-color: #f3f9f9;
  line-height: 0.7333333333rem; }

.P-1 > p {
  font-size: 0.3466666667rem;
  color: #999; }

.shiwen {
  width: 100%;
  height: 2.24rem;
  text-align: center;
  line-height: 2.24rem; }

.shiwen > p {
  font-weight: 400;
  font-size: 0.64rem; }

.QA {
  width: 100%;
  height: 16rem;
  background: #F3F9F9;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.4rem; }

.QA-1 {
  width: 100%;
  height: 1.3333333333rem;
  border-radius: 0.1333333333rem;
  background: #53B753;
  text-align: left;
  color: white;
  font-size: 0.3733333333rem;
  line-height: 1.3333333333rem;
  box-sizing: border-box;
  padding-left: 0.6666666667rem;
  margin-bottom: 0.2666666667rem;
  float: left; }

.QA-1 > img {
  float: right;
  margin-top: 0.5333333333rem;
  margin-right: 0.5333333333rem; }

.FKFS {
  width: 100%;
  height: 5.0666666667rem;
  background: white;
  box-sizing: border-box;
  padding-top: 1.6rem; }

.FKFS > h5 {
  font-size: 0.64rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.2666666667rem; }

.FKFS > p {
  font-size: 0.48rem;
  font-weight: 400;
  text-align: center;
  color: #53b753; }

.smfk {
  width: 100%;
  height: 7.8933333333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #666; }

.smfk > h5 {
  font-size: 0.48rem;
  color: #999; }

.smfk > img {
  width: 4.1866666667rem;
  height: 4rem; }

.smfk > p {
  color: #53b753;
  font-size: 0.48rem;
  font-weight: 700; }

.smfk > p > span {
  display: inline-block;
  font-size: 0.48rem;
  color: #999; }

#wy {
  width: 4.2133333333rem;
  height: 1.28rem; }

.jichu {
  width: 8.9333333333rem;
  height: 2.4533333333rem;
  font-size: 0.4266666667rem;
  margin: 0 auto;
  text-align: center;
  color: #666; }

#swiper-container {
  background: white;
  height: 11.84rem; }

#swiper-1 {
  width: 100%;
  height: 3.92rem; }

#swiper-1 > img {
  width: 100%;
  height: 3.92rem; }

#swiper-2 {
  width: 100%;
  height: 1.3333333333rem;
  padding: 0 0.5333333333rem;
  display: flex;
  flex-direction: row;
  line-height: 1.3333333333rem; }

#swiper-2 > h1:first-child {
  color: #53b753;
  font-size: 0.5066666667rem; }

#swiper-2 > h1:nth-child(2) {
  color: #999;
  font-size: 0.48rem; }

#swiper-2 > h1:last-child {
  color: #53b753;
  font-size: 0.3733333333rem;
  padding-left: 1.3333333333rem; }

.pinpai {
  width: 100%;
  height: 14.6933333333rem;
  background: #F3F9F9;
  box-sizing: border-box;
  padding: 1.0666666667rem auto; }

.pinpai-7 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.pinpai-7 > li {
  width: 3.1466666667rem;
  height: 4.1866666667rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.pinpai-7 > li > p {
  font-size: 0.4266666667rem;
  color: #999;
  width: 2.7733333333rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.2rem; }

.pinpai-7 > li > div {
  background: white;
  width: 2.7733333333rem;
  height: 1.2rem;
  text-align: center;
  line-height: 1.0666666667rem; }

.pinpai-7 > li > div:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px #949494;
  transition: all 0.5s; }

.pinpai-7 > li > div > img {
  width: 0.96rem;
  height: 0.96rem; }

#guangao {
  width: 1.6533333333rem;
  height: 0.1866666667rem; }

#jichu {
  line-height: 2.4533333333rem; }

.kaiban {
  width: 100%;
  height: 4.9066666667rem;
  background: #FFD200;
  overflow: hidden; }

.kaiban > h5 {
  font-size: 0.5333333333rem;
  color: #333;
  text-align: center;
  margin: 0.8rem auto 0; }

.kaiban > p {
  font-size: 0.3733333333rem;
  color: #666;
  text-align: center;
  margin: 0.4rem auto 0; }

.kaiban > button {
  display: block;
  margin: 0.8rem auto 0;
  width: 3.7333333333rem;
  height: 0.9333333333rem;
  font-size: 0.3733333333rem;
  color: #53b753;
  line-height: 0.9333333333rem;
  border-radius: 0.08rem;
  background-color: #fff; }

.shijian {
  width: 100%;
  height: 2.7733333333rem;
  background: #53B753;
  overflow: hidden; }

.shijian > div {
  margin: 0.6666666667rem auto 0; }

.shijian > div > p {
  text-align: center;
  font-size: 28px;
  color: #fff;
  line-height: 0.6666666667rem; }

.erweima {
  width: 100%;
  height: 7.8666666667rem;
  background: #F3F9F9;
  overflow: hidden; }

.erweima-1 {
  width: 6rem;
  height: 1.9733333333rem;
  margin: 0.6666666667rem auto; }

.erweima-1 > img {
  width: 6rem;
  height: 1.9733333333rem; }

.erweima-2 {
  width: 2.3466666667rem;
  height: 2.3466666667rem;
  margin: 0.6666666667rem auto 0; }

.erweima-2 > img {
  width: 2.3466666667rem;
  height: 2.3466666667rem; }

.erweima > p {
  font-size: 0.3733333333rem;
  color: #53b753;
  text-align: center;
  margin-top: 0.2666666667rem; }

.end {
  width: 100%;
  height: 6.96rem;
  background: #99CFB2;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.5333333333rem; }

.end > ul > li {
  width: 9.0133333333rem;
  height: 0.96rem;
  background: white;
  margin-bottom: 0.2666666667rem;
  box-sizing: border-box;
  padding: 0 0.5333333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #75bd96;
  font-size: 0.4rem; }

.end-1 {
  width: 2.3733333333rem;
  height: 0.7733333333rem;
  margin: 0 auto;
  line-height: 0.7733333333rem; }

.end-1 > img {
  width: 2.3733333333rem;
  height: 0.7733333333rem; }

body {
  margin: 0px;
  padding: 0px; }

input {
  -webkit-appearance: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.top {
  width: 100%;
  height: 0.5866666667rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.0666666667rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 998; }

.top > div {
  width: 1.4666666667rem;
  font-size: 0.32rem; }

.top-1 > span {
  display: inline-block;
  width: 0.1333333333rem;
  height: 0.1333333333rem;
  background: black;
  border-radius: 50%; }

.top-2 > span {
  width: 0.4rem;
  height: 0.2rem;
  line-height: 0.2266666667rem;
  background: black;
  display: inline-block; }

.title {
  width: 100%;
  height: 1.1733333333rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0.5866666667rem;
  background: white;
  z-index: 998; }

#title-2 {
  width: 0.7066666667rem;
  height: 0.64rem;
  background: url(../../img/menu.png) no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  position: relative; }

.title > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.title > a > img {
  height: 0.64rem; }

.DIS {
  width: 100%;
  height: 14.2666666667rem;
  border-top: 0.0266666667rem solid #EBEBEB;
  left: -10rem;
  transition: all 0.5s;
  background: white;
  z-index: 999;
  top: 1.8133333333rem;
  position: fixed; }

.list {
  width: 100%;
  height: 4.6666666667rem;
  margin-top: 0.4rem; }

.list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.list-ul > li {
  width: 2.5066666667rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.list-ul > li > p {
  font-size: 0.4rem; }

.EWM {
  width: 100%;
  height: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.EWM-1 {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.0666666667rem solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.EWM-1 > img {
  width: 2.9333333333rem;
  display: block;
  margin: 0.1333333333rem auto; }

.EWM-1 > p {
  font-size: 0.32rem;
  display: inline-block;
  color: #52BA57; }

.EWM-1 > span {
  font-size: 0.32rem;
  background: #52BA57;
  color: white; }

.QUAN {
  width: 100%;
  height: 3.3333333333rem;
  margin-top: 2.1066666667rem;
  text-align: center; }

.QUAN > img {
  width: 6.88rem; }

.swiper-container {
  width: 100%;
  background: white;
  height: 5.3333333333rem; }

.BG {
  width: 100%;
  height: 5.2533333333rem;
  position: relative; }

.BG > img {
  height: 5.2533333333rem;
  width: 100%; }

.BG > div {
  position: absolute;
  top: 20px;
  right: 36px;
  width: 25%; }

.BG > div > img {
  width: 100%; }

.SYSJ {
  width: 100%;
  height: 3.7333333333rem;
  background: #F3F9F9;
  box-sizing: border-box;
  padding: 1.0666666667rem 0 0.5333333333rem; }

.SYSJ > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.SYSJ > div > p {
  font-size: 0.3733333333rem;
  font-weight: 400; }

.SYSJ > div > div {
  width: 5.0133333333rem;
  height: 0.6933333333rem;
  position: relative; }

.SYSJ > div > div > img {
  width: 5.0133333333rem;
  height: 0.6933333333rem;
  position: absolute;
  top: 0; }

.SYSJ > div > h5 {
  font-size: 0.3733333333rem;
  margin-top: 0.3733333333rem;
  width: 2.72rem;
  height: 0.5333333333rem;
  line-height: 0.5333333333rem;
  background-color: #53b753;
  font-weight: 400;
  border-radius: 0.5333333333rem 0.1066666667rem;
  text-align: center;
  color: white; }

.SYSJ > div > h5 > span {
  color: #fff10e;
  margin: 0 0.1066666667rem; }

.dagang {
  width: 100%;
  height: 6rem;
  border-top: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0.1333333333rem 0 0.5333333333rem;
  background: #F3F9F9; }

.dagang > p {
  font-size: 0.32rem;
  color: #999;
  font-weight: 400;
  margin-top: 0.4rem; }

.dagang > h5 {
  font-size: 0.3466666667rem;
  font-weight: 400; }

.dagang > button {
  width: 3.7866666667rem;
  height: 1.04rem;
  line-height: 1.04rem;
  text-align: center;
  background-color: #53b753;
  color: #fff;
  margin-top: 0.5333333333rem;
  font-size: 0.3733333333rem;
  border: none; }

.dagang > button > img {
  width: 0.5866666667rem;
  height: 0.3466666667rem;
  margin-left: 0.48rem; }

.chennuo {
  width: 100%;
  height: 19.2rem;
  background: #99CFB2;
  box-sizing: border-box;
  padding: 1.0666666667rem 0.4rem; }

.chennuo-1 {
  width: 100%;
  height: 100%;
  background: url(../../img/png01.png) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding-top: 5.8666666667rem; }

.chennuo-1 > ul {
  width: 8rem;
  height: 11.2rem;
  margin: 0 auto; }

.chennuo-1 > ul > li {
  width: 100%;
  height: 1.7333333333rem;
  margin-bottom: 1.0666666667rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.chennuo-1 > ul > li > h5 {
  font-size: 0.4266666667rem;
  color: #53b753;
  text-align: center;
  font-weight: 400; }

.chennuo-1 > ul > li > p {
  font-size: 0.3466666667rem;
  color: #999;
  text-align: center; }

.xitong {
  width: 100%;
  height: 5.3333333333rem;
  box-sizing: border-box;
  padding: 0.8rem 0.9333333333rem 0.72rem;
  background: #F3F9F9; }

.xitong > h5 {
  color: #333;
  letter-spacing: 0.1333333333rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.3333333333rem;
  font-size: 0.3733333333rem; }

.xitong > p {
  font-size: 0.3466666667rem;
  color: #999; }

.wenxi {
  width: 100%;
  height: 15.8666666667rem;
  background: #F3F9F9; }

.wenxi > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.wenxi > ul > li {
  width: 4.9333333333rem;
  height: 7.4933333333rem;
  background: white;
  margin-bottom: 0.1333333333rem;
  box-sizing: border-box;
  padding: 0.5333333333rem 0.5333333333rem 1.1733333333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.wenxi-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.wenxi-1 > img {
  width: 2.9333333333rem;
  height: 1.92rem; }

.wenxi-1 > div {
  width: 3.2rem;
  height: 0.8rem;
  background: url(../../img/ico-11.png) no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.wenxi-1 > div > img {
  height: 1.0666666667rem; }

.wenxi-1 > p {
  font-size: 0.3466666667rem;
  color: #999;
  text-align: center; }

.number {
  width: 100%;
  height: 10.6666666667rem;
  background: white;
  box-sizing: border-box;
  padding: 0.5333333333rem 0 1.0666666667rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.number > p {
  font-size: 0.3466666667rem;
  color: #999;
  text-align: center; }

.number > h5 {
  color: #333;
  letter-spacing: 0.1333333333rem;
  font-weight: 400;
  text-align: center;
  font-size: 0.3733333333rem; }

.number > ul {
  width: 8.88rem;
  height: 4.96rem;
  margin: 1.1733333333rem auto 0.4533333333rem; }

.number > ul > li {
  width: 4.24rem;
  height: 1.4133333333rem;
  margin-bottom: 1.0666666667rem;
  float: left;
  margin-left: 0.2rem;
  line-height: 0.8266666667rem; }

.number > ul > li > h5 {
  color: #53b753;
  font-size: 1.0133333333rem;
  font-weight: 400; }

.number > ul > li > p {
  color: #959696;
  font-size: 0.32rem; }

.row {
  width: 100%;
  height: 8rem;
  overflow: hidden; }

.banner {
  width: 100%;
  height: 6.6666666667rem;
  position: relative; }

.TOP {
  width: 41.3333333333rem;
  height: 100%;
  padding: 0;
  position: absolute;
  transition: all 0.5s; }

.TOP > li {
  float: left;
  width: 10rem;
  height: 100%;
  background: #F3F1E9;
  position: relative; }

.TOP-1 {
  width: 100%;
  height: 100%;
  position: relative; }

.TOP-1 > img {
  width: 100%;
  height: 100%; }

.TOP-1 > p {
  font-size: 0.3466666667rem;
  color: #999;
  text-align: left;
  position: absolute;
  width: 6.4rem;
  top: 0.8rem;
  left: 0.4rem;
  color: white; }

.banner-end {
  width: 100%;
  height: 1.3333333333rem;
  text-align: center; }

.banner-end > span {
  display: inline-block;
  width: 2.4933333333rem;
  height: 100%;
  background: #F3F9F9;
  font-size: 0.3733333333rem;
  font-weight: 400;
  float: left;
  line-height: 1.3333333333rem;
  color: #53b753;
  position: relative; }

.dagang > img {
  width: 6.2666666667rem;
  height: 0.3733333333rem;
  margin-top: 0.8rem; }

.dagang > button > span {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  background: url(../../img/ico-14-m.png) no-repeat; }

#swiper-container {
  width: 100%;
  height: 8.72rem; }

#swiper-wrapper {
  width: 100%;
  height: 7.2666666667rem; }

#swiper-pagination {
  width: 100%;
  height: 0.48rem;
  bottom: 0.6rem; }

#swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

#swiper-slide > h3 {
  color: #53b753;
  font-size: 0.3466666667rem;
  font-weight: 400; }

#swiper-slide > h3 > span {
  font-size: 0.3733333333rem;
  font-weight: 400;
  color: black; }

#swiper-slide > p {
  width: 6.8266666667rem;
  height: 3.52rem;
  font-size: 0.3466666667rem;
  color: #999;
  text-align: center; }

.QQ {
  width: 0.9866666667rem;
  height: 0.9866666667rem; }

.QQ > img {
  width: 0.9866666667rem;
  height: 0.9866666667rem;
  border-radius: 50%; }

.erweima {
  width: 100%;
  height: 7.8666666667rem;
  background: #F3F9F9;
  overflow: hidden; }

.erweima-1 {
  width: 6rem;
  height: 1.9733333333rem;
  margin: 0.6666666667rem auto; }

.erweima-1 > img {
  width: 6rem;
  height: 1.9733333333rem; }

.erweima-2 {
  width: 2.3466666667rem;
  height: 2.3466666667rem;
  margin: 0.6666666667rem auto 0; }

.erweima-2 > img {
  width: 2.3466666667rem;
  height: 2.3466666667rem; }

.erweima > p {
  font-size: 0.3733333333rem;
  color: #53b753;
  text-align: center;
  margin-top: 0.2666666667rem; }

.end {
  width: 100%;
  height: 6.96rem;
  background: #99CFB2;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.5333333333rem; }

.end > ul > li {
  width: 9.0133333333rem;
  height: 0.96rem;
  background: white;
  margin-bottom: 0.2666666667rem;
  box-sizing: border-box;
  padding: 0 0.5333333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #75bd96;
  font-size: 0.4rem; }

.end-1 {
  width: 2.3733333333rem;
  height: 0.7733333333rem;
  margin: 0 auto;
  line-height: 0.7733333333rem; }

.end-1 > img {
  width: 2.3733333333rem;
  height: 0.7733333333rem; }

body {
  margin: 0px;
  padding: 0px; }

input {
  -webkit-appearance: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.top {
  width: 100%;
  height: 0.5866666667rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.0666666667rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 998; }

.top > div {
  width: 1.4666666667rem;
  font-size: 0.32rem; }

.top-1 > span {
  display: inline-block;
  width: 0.1333333333rem;
  height: 0.1333333333rem;
  background: black;
  border-radius: 50%; }

.top-2 > span {
  width: 0.4rem;
  height: 0.2rem;
  line-height: 0.2266666667rem;
  background: black;
  display: inline-block; }

.title {
  width: 100%;
  height: 1.1733333333rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0.5866666667rem;
  background: white;
  z-index: 998; }

#title-2 {
  width: 0.7066666667rem;
  height: 0.64rem;
  background: url(../../img/menu.png) no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  position: relative; }

.title > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.title > a > img {
  height: 0.64rem; }

.DIS {
  width: 100%;
  height: 14.2666666667rem;
  border-top: 0.0266666667rem solid #EBEBEB;
  left: -10rem;
  transition: all 0.5s;
  background: white;
  z-index: 999;
  top: 1.8133333333rem;
  position: fixed; }

.list {
  width: 100%;
  height: 4.6666666667rem;
  margin-top: 0.4rem; }

.list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.list-ul > li {
  width: 2.5066666667rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.list-ul > li > p {
  font-size: 0.4rem; }

.EWM {
  width: 100%;
  height: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.EWM-1 {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.0666666667rem solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.EWM-1 > img {
  width: 2.9333333333rem;
  display: block;
  margin: 0.1333333333rem auto; }

.EWM-1 > p {
  font-size: 0.32rem;
  display: inline-block;
  color: #52BA57; }

.EWM-1 > span {
  font-size: 0.32rem;
  background: #52BA57;
  color: white; }

.QUAN {
  width: 100%;
  height: 3.3333333333rem;
  margin-top: 2.1066666667rem;
  text-align: center; }

.QUAN > img {
  height: 0.6133333333rem; }

.BG {
  width: 100%;
  height: 5.2533333333rem;
  position: relative; }

.BG > img {
  height: 5.2533333333rem; }

.BG > div {
  position: absolute;
  top: 20px;
  right: 36px;
  width: 25%; }

.BG > div > img {
  width: 100%; }

.P-1 {
  width: 100%;
  height: 4rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0.9333333333rem 0.9333333333rem;
  background-color: #f3f9f9;
  line-height: 0.7333333333rem; }

.P-1 > p {
  font-size: 0.3466666667rem;
  color: #999; }

.tuandui {
  width: 100%;
  height: 3.3866666667rem;
  font-size: 0.48rem;
  font-weight: 400;
  text-align: center;
  line-height: 3.3866666667rem; }

.tuandui-3 {
  width: 100%;
  height: 20.4533333333rem;
  box-sizing: border-box;
  padding: 0.4rem 0.6666666667rem; }

.tuandui-3 > li {
  width: 100%;
  height: 5.36rem;
  margin-bottom: 0.6666666667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.tuandui-3 > li > span {
  font-size: 1.3333333333rem;
  color: #ebebeb; }

.tuandui-3 > li > h5 {
  font-size: 0.48rem;
  font-weight: 400; }

.tuandui-3 > li > p {
  font-size: 0.4266666667rem;
  color: #999;
  text-align: center; }

.CSR {
  width: 100%;
  height: 8.48rem;
  background: url(../../img/bg1_02-m.jpg) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem; }

.CSR-1 {
  width: 100%;
  height: 4.4rem; }

.CSR-1 > p {
  font-size: 0.5333333333rem;
  margin-top: 0.8rem;
  font-weight: 400;
  display: inline-block; }

.CSR-1 > span {
  font-size: 0.3733333333rem;
  color: #999;
  font-weight: 400; }

.CSR-1 > img {
  width: 4.08rem;
  height: 5.0133333333rem; }

.CSR-2 {
  width: 9.4666666667rem;
  height: 3.8666666667rem;
  background: white;
  border-top-right-radius: 0.2666666667rem;
  border-top-left-radius: 1.3333333333rem;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.2666666667rem; }

.CSR-2 > p {
  font-size: 0.3466666667rem;
  text-align: center;
  line-height: 0.6666666667rem; }

.DSZP {
  width: 100%;
  height: 2.6666666667rem;
  background: #F3F9F9;
  font-size: 0.4266666667rem;
  text-align: center;
  line-height: 2.6666666667rem; }

.swiper-container {
  width: 100%;
  background: white;
  height: 7.2rem; }

#swiper-container {
  margin: 0; }

#swiper-pagination {
  height: 0.6666666667rem; }

#QUAN > img {
  width: 100%;
  height: 6.6666666667rem; }

#QUAN {
  width: 100%;
  height: 6.6666666667rem;
  text-align: center; }

.dagang {
  width: 100%;
  height: 6rem;
  border-top: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0.1333333333rem 0 0.5333333333rem;
  background: #F3F9F9;
  box-sizing: border-box;
  padding: 0.6666666667rem 0; }

.dagang > p {
  font-size: 0.32rem;
  color: #999;
  font-weight: 400;
  margin-top: 0.4rem; }

.dagang > h5 {
  font-size: 0.48rem;
  font-weight: 400;
  margin-bottom: 0.1333333333rem;
  letter-spacing: 0.0533333333rem; }

.dagang > button {
  width: 3.7866666667rem;
  height: 1.04rem;
  line-height: 1.04rem;
  text-align: center;
  background-color: #53b753;
  color: #fff;
  margin-top: 0.5333333333rem;
  font-size: 0.3733333333rem;
  border: none; }

.dagang > button > img {
  width: 0.5866666667rem;
  height: 0.3466666667rem;
  margin-left: 0.48rem; }

.dagang > img {
  width: 6.2666666667rem;
  height: 0.3733333333rem;
  margin-top: 0.8rem; }

.dagang > button > span {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  background: url(../../img/ico-14-m.png) no-repeat; }

#tuandui {
  letter-spacing: 0.1333333333rem;
  line-height: normal;
  box-sizing: border-box;
  padding: 1.3333333333rem 0.6666666667rem 0; }

#SPAN {
  font-size: 0.5866666667rem;
  color: #53b753;
  font-family: goodmu; }

.erweima {
  width: 100%;
  height: 7.8666666667rem;
  background: #F3F9F9;
  overflow: hidden; }

.erweima-1 {
  width: 6rem;
  height: 1.9733333333rem;
  margin: 0.6666666667rem auto; }

.erweima-1 > img {
  width: 6rem;
  height: 1.9733333333rem; }

.erweima-2 {
  width: 2.3466666667rem;
  height: 2.3466666667rem;
  margin: 0.6666666667rem auto 0; }

.erweima-2 > img {
  width: 2.3466666667rem;
  height: 2.3466666667rem; }

.erweima > p {
  font-size: 0.3733333333rem;
  color: #53b753;
  text-align: center;
  margin-top: 0.2666666667rem; }

.end {
  width: 100%;
  height: 6.96rem;
  background: #99CFB2;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.5333333333rem; }

.end > ul > li {
  width: 9.0133333333rem;
  height: 0.96rem;
  background: white;
  margin-bottom: 0.2666666667rem;
  box-sizing: border-box;
  padding: 0 0.5333333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #75bd96;
  font-size: 0.4rem; }

.end-1 {
  width: 2.3733333333rem;
  height: 0.7733333333rem;
  margin: 0 auto;
  line-height: 0.7733333333rem; }

.end-1 > img {
  width: 2.3733333333rem;
  height: 0.7733333333rem; }

/*# sourceMappingURL=sass.css.map */
