body {
  margin: 0px;
  padding: 0px; }

input {
  -webkit-appearance: none; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.top {
  width: 100%;
  height: 0.5866666667rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.0666666667rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 998; }

.top > div {
  width: 1.4666666667rem;
  font-size: 0.32rem; }

.top-1 > span {
  display: inline-block;
  width: 0.1333333333rem;
  height: 0.1333333333rem;
  background: black;
  border-radius: 50%; }

.top-2 > span {
  width: 0.4rem;
  height: 0.2rem;
  line-height: 0.2266666667rem;
  background: black;
  display: inline-block; }

.title {
  width: 100%;
  height: 1.1733333333rem;
  display: flex;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0.5866666667rem;
  background: white;
  z-index: 998; }

#title-2 {
  width: 0.7066666667rem;
  height: 0.64rem;
  background: url(../../img/menu.png) no-repeat;
  background-size: 100%;
  transition: all 0.5s;
  position: relative; }

.title > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.title > a > img {
  height: 0.64rem; }

.DIS {
  width: 100%;
  height: 14.2666666667rem;
  border-top: 0.0266666667rem solid #EBEBEB;
  left: -10rem;
  transition: all 0.5s;
  background: white;
  z-index: 999;
  top: 1.8133333333rem;
  position: fixed; }

.list {
  width: 100%;
  height: 4.6666666667rem;
  margin-top: 0.4rem; }

.list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.list-ul > li {
  width: 2.5066666667rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.list-ul > li > p {
  font-size: 0.4rem; }

.EWM {
  width: 100%;
  height: 5.3333333333rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.EWM-1 {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.0666666667rem solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.EWM-1 > img {
  width: 2.9333333333rem;
  display: block;
  margin: 0.1333333333rem auto; }

.EWM-1 > p {
  font-size: 0.32rem;
  display: inline-block;
  color: #52BA57; }

.EWM-1 > span {
  font-size: 0.32rem;
  background: #52BA57;
  color: white; }

.QUAN {
  width: 100%;
  height: 3.3333333333rem;
  margin-top: 2.1066666667rem;
  text-align: center; }

.QUAN > img {
  height: 0.6133333333rem; }

.BG {
  width: 100%;
  height: 5.2533333333rem;
  position: relative; }

.BG > img {
  height: 5.2533333333rem; }

.BG > div {
  position: absolute;
  top: 20px;
  right: 36px;
  width: 25%; }

.BG > div > img {
  width: 100%; }

.P-1 {
  width: 100%;
  height: 4rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0.9333333333rem 0.9333333333rem;
  background-color: #f3f9f9;
  line-height: 0.7333333333rem; }

.P-1 > p {
  font-size: 0.3466666667rem;
  color: #999; }

.tuandui {
  width: 100%;
  height: 3.3866666667rem;
  font-size: 0.48rem;
  font-weight: 400;
  text-align: center;
  line-height: 3.3866666667rem; }

.tuandui-3 {
  width: 100%;
  height: 20.4533333333rem;
  box-sizing: border-box;
  padding: 0.4rem 0.6666666667rem; }

.tuandui-3 > li {
  width: 100%;
  height: 5.36rem;
  margin-bottom: 0.6666666667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.tuandui-3 > li > span {
  font-size: 1.3333333333rem;
  color: #ebebeb; }

.tuandui-3 > li > h5 {
  font-size: 0.48rem;
  font-weight: 400; }

.tuandui-3 > li > p {
  font-size: 0.4266666667rem;
  color: #999;
  text-align: center; }

.CSR {
  width: 100%;
  height: 8.48rem;
  background: url(../../img/bg1_02-m.jpg) no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 0.1333333333rem 0.2666666667rem; }

.CSR-1 {
  width: 100%;
  height: 4.4rem; }

.CSR-1 > p {
  font-size: 0.5333333333rem;
  margin-top: 0.8rem;
  font-weight: 400;
  display: inline-block; }

.CSR-1 > span {
  font-size: 0.3733333333rem;
  color: #999;
  font-weight: 400; }

.CSR-1 > img {
  width: 4.08rem;
  height: 5.0133333333rem; }

.CSR-2 {
  width: 9.4666666667rem;
  height: 3.8666666667rem;
  background: white;
  border-top-right-radius: 0.2666666667rem;
  border-top-left-radius: 1.3333333333rem;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.2666666667rem; }

.CSR-2 > p {
  font-size: 0.3466666667rem;
  text-align: center;
  line-height: 0.6666666667rem; }

.DSZP {
  width: 100%;
  height: 2.6666666667rem;
  background: #F3F9F9;
  font-size: 0.4266666667rem;
  text-align: center;
  line-height: 2.6666666667rem; }

.swiper-container {
  width: 100%;
  background: white;
  height: 7.2rem; }

#swiper-container {
  margin: 0; }

#swiper-pagination {
  height: 0.6666666667rem; }

#QUAN > img {
  width: 100%;
  height: 6.6666666667rem; }

#QUAN {
  width: 100%;
  height: 6.6666666667rem;
  text-align: center; }

.dagang {
  width: 100%;
  height: 6rem;
  border-top: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0.1333333333rem 0 0.5333333333rem;
  background: #F3F9F9;
  box-sizing: border-box;
  padding: 0.6666666667rem 0; }

.dagang > p {
  font-size: 0.32rem;
  color: #999;
  font-weight: 400;
  margin-top: 0.4rem; }

.dagang > h5 {
  font-size: 0.48rem;
  font-weight: 400;
  margin-bottom: 0.1333333333rem;
  letter-spacing: 0.0533333333rem; }

.dagang > button {
  width: 3.7866666667rem;
  height: 1.04rem;
  line-height: 1.04rem;
  text-align: center;
  background-color: #53b753;
  color: #fff;
  margin-top: 0.5333333333rem;
  font-size: 0.3733333333rem;
  border: none; }

.dagang > button > img {
  width: 0.5866666667rem;
  height: 0.3466666667rem;
  margin-left: 0.48rem; }

.dagang > img {
  width: 6.2666666667rem;
  height: 0.3733333333rem;
  margin-top: 0.8rem; }

.dagang > button > span {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  background: url(../../img/ico-14-m.png) no-repeat; }

#tuandui {
  letter-spacing: 0.1333333333rem;
  line-height: normal;
  box-sizing: border-box;
  padding: 1.3333333333rem 0.6666666667rem 0; }

#SPAN {
  font-size: 0.5866666667rem;
  color: #53b753;
  font-family: goodmu; }

.erweima {
  width: 100%;
  height: 7.8666666667rem;
  background: #F3F9F9;
  overflow: hidden; }

.erweima-1 {
  width: 6rem;
  height: 1.9733333333rem;
  margin: 0.6666666667rem auto; }

.erweima-1 > img {
  width: 6rem;
  height: 1.9733333333rem; }

.erweima-2 {
  width: 2.3466666667rem;
  height: 2.3466666667rem;
  margin: 0.6666666667rem auto 0; }

.erweima-2 > img {
  width: 2.3466666667rem;
  height: 2.3466666667rem; }

.erweima > p {
  font-size: 0.3733333333rem;
  color: #53b753;
  text-align: center;
  margin-top: 0.2666666667rem; }

.end {
  width: 100%;
  height: 6.96rem;
  background: #99CFB2;
  box-sizing: border-box;
  padding: 0.6666666667rem 0.5333333333rem; }

.end > ul > li {
  width: 9.0133333333rem;
  height: 0.96rem;
  background: white;
  margin-bottom: 0.2666666667rem;
  box-sizing: border-box;
  padding: 0 0.5333333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #75bd96;
  font-size: 0.4rem; }

.end-1 {
  width: 2.3733333333rem;
  height: 0.7733333333rem;
  margin: 0 auto;
  line-height: 0.7733333333rem; }

.end-1 > img {
  width: 2.3733333333rem;
  height: 0.7733333333rem; }

/*# sourceMappingURL=teacher.css.map */
